@model UserIdentity.Models.RoleEditModel
@{
    ViewBag.Title = "Edit";
}
@using (Html.BeginForm())
{
    <input type="hidden" name="roleName" value="@Model.Role.Name" />
    <input type="hidden" name="roleId" value="@Model.Role.Id" />

    <div class="panel panel-primary">
        <div class="panel-heading">
            Add to @Model.Role.Name
        </div>
        <table class="table table-striped">
            @if (Model.NonMembers.Count() == 0)
            {
                <tr>
                    <td colspan="2">Bu Role eklenebilecek kullanıcı yok</td>
                </tr>
            }
            else
            {
                <tr>
                    <td>UserId</td>
                    <td>Role</td>
                </tr>
                foreach (var user in Model.NonMembers)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td>
                            <input type="checkbox" name="IdsToAdd" value="@user.Id" />
                        </td>
                    </tr>
                }
            }
        </table>

    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            Remove From @Model.Role.Name
        </div>
        <table class="table table-striped">
            @if (Model.Members.Count() == 0)
            {
                <tr>
                    <td colspan="2">Bu Role eklenmiş kullanıcı yok</td>
                </tr>
            }
            else
            {
                <tr>
                    <td>UserId</td>
                    <td>Role</td>
                </tr>
                foreach (var user in Model.Members)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td>
                            <input type="checkbox" name="IdsToDelete" value="@user.Id" />
                        </td>
                    </tr>
                }
            }
        </table>

    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
}